body {
    background: #BDC7BC;
}

.faq-secondary {
    font-size: 18px;
    line-height: 1.6;
    color: #333;
    margin-bottom: 20px;
    text-align: center;
}

.header-bg {

    width: 100%;
    height: 69px; 
    background: #2D482A;;
}


.nav-links {
    list-style: none;
    padding: 10px 20px;
    margin: 0;
    display: flex;
    position: absolute;
    top: 10px; 
    left: 20px; 
    z-index: 2; 
}

.nav-links li {
    margin-right: 20px;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: bold;
}

.header-image {
    width: 100%; 
    height: auto; 
}

.faq-title {
    position: absolute;
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%);
    font-size: 60px; 
    font-weight: 700; 
    color: white;
    text-shadow: 3px 3px 8px rgba(0, 0, 0, 0.6); 
    z-index: 1;
}

.faq-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    margin: 0 auto;
}

.faq-item {
    margin-bottom: 20px;
    width: 100%;
}

.faq-item h2 {
    font-size: 24px;
    color: #2D482A;
    margin-bottom: 10px;
    text-align: center;
}

.faq-item p {
    font-size: 18px;
    line-height: 1.6;
    color: #333;
    margin-bottom: 20px;
    text-align: center;
}

.faq-item li {
    margin-bottom: 10px;
    text-align: center;
}

.footer-image {
    width: 100%;
    height: auto;
    margin-top: 20px;
}

.footer-container {
    position: relative; 
    width: 100%;
}

.footer-title {
    position: absolute;
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%);
    font-size: 60px; 
    font-weight: 700; 
    color: white;
    text-shadow: 3px 3px 8px rgba(0, 0, 0, 0.6); 
    z-index: 1;
}

.ff-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    padding: 20px;
    background-color:  #2D482A;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    margin: 0 auto;
    margin-top: 20px;
}

.ff-item h2 {
    margin-bottom: 20px;
    width: 100%;
    color: white
}

.ff-item p {
    margin-bottom: 20px;
    width: 100%;
    color: white
}

.ff-item h3 {
    margin-bottom: 20px;
    width: 100%;
    color:  #FFD700;
}

.ff-item h1 {
    margin-bottom: 20px;
    width: 100%;
    color: white
}

.ff-intro {
    margin-bottom: 20px;
    width: 100%;
    color: white
}

.footer-info {
    margin-bottom: 20px;
    width: 100%;
    color: black;
    text-align: center;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    margin-top: 20px;
}

.footer-info h1 {
    margin-bottom: 20px;
    width: 100%;
    color:  #2D482A;
    text-align: center;
}

.footer-info h3 {
    margin-bottom: 20px;
    width: 100%;
    color:  #2D482A;
    text-align: center;
}

.note {
    margin-bottom: 20px;
    width: 100%;
    color:  #FFD700;
    text-align: center;
    text-decoration: underline;
}

.apex-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 20px;
    padding: 20px;
    background-color:  #2D482A;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 20px;
}

.apex-image {
    width: 100%;
    height: auto;
    margin-top: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    margin: 0 auto;
    margin-top: 20px;
}

.apex-item h2 {
    margin-bottom: 20px;
    width: 100%;
    color:  #FFD700;
    font-weight: 800;
    font-size: 30px;
}

.apex-item p {
    margin-bottom: 20px;
    width: 100%;
    color: white;
    font-weight: 800;
    font-size: 20px;
}

.apex-item h3 {
    margin-bottom: 20px;
    width: 100%;
    color: red;
    font-weight: 800;
    font-size: 20px;
    background-color: black;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    margin: 0 auto;
}

.apex {
    margin-bottom: 20px;
    width: 100%;
    color: white;
    font-weight: 800;
    font-size: 20px;
}

.footer-text p {
    font-size: 12px;
    color: white;
    text-align: center;
    margin-bottom: 20px;
}


