header {
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #BDC7BC;
}

.header-bg {

    width: 100%;
    height: 69px; 
    background: #2D482A;;
}


.nav-links {
    list-style: none;
    padding: 10px 20px;
    margin: 0;
    display: flex;
    position: absolute;
    top: 10px; 
    left: 20px; 
    z-index: 2; 
}

.nav-links li {
    margin-right: 20px;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: bold;
}

.header-image {
    width: 100%; 
    height: auto; 
}

.image-container img {
    width: 230px;  
    height: 250px;
    border-radius: 8px; 
    object-fit: cover; 
   
}

.image-container {
    display: flex;
    justify-content: flex-end; 
    gap: 10px; 
    flex-shrink: 0;
    margin-top: 20px;
}

.text {
    padding-right: 20px; 
    padding-left: 10px; 
    line-height: 1.6; 
}

.text h2 {
    font-size: 28px;  
    font-weight: 700;
    color: #2D482A; 
    margin-bottom: 15px;
}


.container {
    display: flex;
    justify-content: space-between;  
    align-items: center;  
    max-width: 90%; 
    margin: auto;  
    gap: 30px; 
    padding: 0 20px;  
}

.footer-image {
    width: 100%;  
    height: auto; 
    object-fit: cover; 
    margin: 0; 
    padding: 0;
}

footer {
    padding: 30px;
    background-color: #2D482A; 
    color: white;
    text-align: center;
}

.contact-section .contact-text {
    margin-bottom: 20px; 
}


.contact-section .contact-links {
    display: flex; 
    justify-content: center;
    gap: 30px;
    width: 100%; 
    margin-top: 30px; 
}


.contact-section a {
    text-decoration: none;
    color: #FFD700; 
    font-size: 16px;
    font-weight: bold;
}
